<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!--width=device-width：讓視口寬度匹配裝置螢幕的寬度 initial-scale=1.0：設定初始縮放比例為 1.0（100%）如果你的 CSS 有 @media queries 來針對不同解析度調整版面，這行 meta 會確保它正確地作用。-->
		<meta name="viewport" content="width=device-width" , initial-scale='1.0"' />
		<title>條子來了</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
